{%- extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block content %}
<html>
<div class="row mt-0">
    <div class="col-12 alert alert-primary bg-danger text-white text-center">
      <span class="display-1 font-weight-bold" style ="font-family: 'Helvetica Neue', sans-serif;">Stocks' Performance vs r/Investing Sentiment</span>
    </div>
</div>

<style>
  th {
    font-size: 24px;
    text-align: center;
    position: relative; /* needed for tooltip positioning */
    cursor: help; /* show pointer cursor on hover */
  }
  td {
    font-size: 16px;
    text-align: center;
  }
</style>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" data-toggle="tooltip" data-placement="top" title="Keyword used to search for stock mentions">Stock Keyword</th>
      <th scope="col" data-toggle="tooltip" data-placement="top" title="Average sentiment score of all posts mentioning this stock">Post Sentiment</th>
      <th scope="col" data-toggle="tooltip" data-placement="top" title="Average sentiment score of all comments mentioning this stock">Comments Sentiment</th>
      <th scope="col" data-toggle="tooltip" data-placement="top" title="Percentage change in stock price over the past 30 days">Stock Percentage Change Over Past 30 Days</th>
    </tr>
  </thead>
  <tbody>
    {% for stock in stocks %}
    <tr>
      <td>{{stock.stock_keyword}}</td>
      <td>{{stock.tSentiment}}</td>
      <td>{{stock.cSentiment}}</td>
      <td>{{stock.price_change_percentage}}%</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</html>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

{%- endblock %}


